{% extends 'base.html'%}
{% import 'macros.html' as macro%}{% block content %}
<div class="container-fluid">
  <br>
  <hr>
  <h2 style="font-family:verdana";>News Highlights</h2>
  <hr>
  <br>

  {% block styles%}
      {{ super() }}
      <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
  {% endblock%}

<link rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"><div class="container">
        <!-- Business News Section  -->
        <h3 class="text-center">Top News</h3>
         
        <h3 class='text-center' >Technology News</h3>
        <hr>

        {{ macro.displayNewsList(technology_news)}}

       <!-- Entertainment -->
         
        <h3 class='text-center' >Entertainment News</h3>
        <hr>

        {{ macro.displayNewsList(entertainment_news)}}

       <!-- Business  -->
        <h3 class='text-center' >Business News</h3>
        <hr>

        {{ macro.displayNewsList(business_news)}}

        <!-- SPORTS  -->

        <h3 class='text-center' >Sports News</h3>
        <hr>

        {{ macro.displayNewsList(sports_news)}}

<div class="blockquote">
  <footer style="background-color:lightgrey">
<p style="text-align:center;">(C) 2019 munyiJoe</p>
  </footer>
</div>
</div>
{%endblock%}

