 <div class="navbar navbar-inverse" role="navigation">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/"> <span style='font-size:2em; color:cyan;font-family:verdana,hervetica;'>DAILY HIGHLIGHTER</span> </a>
     </div>
     <div class="navbar-collapse collapse" style='color:cyan; font-size:1.6em; padding:3%; float:right; padding-left:20%'>
       <ul class="nav navbar-nav">
         <li><a href="/">HOME</a></li>
         <li><a href="/business">BUSINESS</a></li>
         <li><a href="/entertainment">ENTERTAINMENT</a></li>
         <li><a href="/sport">SPORTS</a></li>
         <li><a href="/tech">TECHNOLOGY(ies.)</a></li>
     </div>
   </div>
 </div>